*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f5f5f5;
}
main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
img {
    width: 100px;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 100px;
}
fieldset {
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
legend {
    font-weight: bold;
    margin-bottom: 5px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
}
input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
textarea {
    min-height: 100px;
}
input[type = "radio"], input[type = "checkbox"] {
    width: auto;
    margin-right: 5px;
}
input[type="color"]{
    width: 4px;
    padding: 0 5px;
}
input:invalid, textarea:invalid, select:invalid{
    border-color: red;
}
input:valid, textarea:valid, select:valid{
    border-color: green;
}
button{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 2.5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #4CAF50;
    color: white;
}
button[type="reset"]:hover{
    background-color: #f44336;
    color: white;
}
input[type="tel"]{
    margin-bottom: 0px;
}
small{
    color: #555555;
    margin-bottom: 10px;
    display: inline-block;
}
